<mat-toolbar color="primary" class="app-toolbar">
    <a routerLink="/" style="color: white; text-decoration: none;"><span>Online Bus Sewa</span></a>
    <a mat-button routerLink="/ticket" style="margin: 20px;"><mat-icon style="margin-right: 2px;">directions_bus</mat-icon>Reserve Tickets</a>
    <a mat-button routerLink="/payment"><mat-icon style="margin-right: 2px;">payment</mat-icon>Payment</a>
  <span style="flex: 1 1 auto;"></span>
  <button mat-button *ngIf="isAuthenticated" (click)="logout()" ><mat-icon style="margin-right: 2px;">exit_to_app</mat-icon>Logout
  </button>
</mat-toolbar>
