<div style="padding-bottom: 20px;">
  <app-toolbar></app-toolbar>
  <mat-list>
    <mat-card class="graph-card" *ngIf="isUserAdmin">
      <svg width="600" height="500" style="color: white; display: block;"></svg>
      <p style="font-size: 16px; text-align: center;"><i>Total sales made by each bus</i></p>
    </mat-card>

    <div style="display: block;"></div>
 
  <table *ngIf="unpaidPayments?.length > 0; else noReservationBlock" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="paymentId">
      <th mat-header-cell *matHeaderCellDef> Payment Id </th>
      <td mat-cell *matCellDef="let payment"> {{payment.paymentId}} </td>
    </ng-container>
  
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let payment"> {{payment.description}} </td>
    </ng-container>
  
    <ng-container matColumnDef="totalFare">
      <th mat-header-cell *matHeaderCellDef> Fare </th>
      <td mat-cell *matCellDef="let payment"> Rs. {{ payment.totalFare }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <ng-template #noReservationBlock>
    <mat-card style="display: inline-block; margin-left: 10px; font-size: medium;">
      <span style="color: #f44336;">Oh DANG!</span> Looks like you don't have any reservation.
    </mat-card>
</ng-template>

</mat-list>
  
<mat-card *ngIf="paymentCompleted" class="success-message">Thank you for choosing us. Happy Travelling!!!</mat-card>
<button mat-raised-button color="primary" [disabled]="!(unpaidPayments?.length>0)" (click)="payUnpaidPayments();" class="payment-button">
  Complete Payment</button>
</div>