<div id="home" class="home">
  <app-animated-background></app-animated-background>
  <div class="root" >
    <div class="child" style="position: relative;">
      <p class="text">
        Online Bus Sewa 
        <br />
        <br />
        Travel with us.
        <br />
        <br /><span class="highlight">Reserve your ticket now!</span>
        <br />
        <br />
      </p>
      <button mat-raised-button color="primary" (click)="reserveTicket();">
        <mat-icon>directions_bus</mat-icon>
        <span style="margin-left: 4px;">Reserve Ticket</span>
      </button>
    </div>
  </div>
</div>

